.header {
  margin-top: 2rem;
}

.header > h1 {
  margin-bottom: 1rem;
}

.tableOfContents {
  margin-top: 2rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}