---
import { SearchBar, QuickLinks, ServiceCategoryGrid, PopularServices, MainHero} from '@packages/ui/components';
import { PageLayout } from '@packages/ui/layouts';
import RootLayout from '../layouts/RootLayout.astro';
import '@digdir/designsystemet-css';
import '@digdir/designsystemet-theme';
import { LivshendelseListe } from '@components/livshendelse-liste';
---
<RootLayout>
  <PageLayout>
      <MainHero client:load />
      <div>
        <SearchBar client:load />
        <QuickLinks client:load />
      </div>
      <ServiceCategoryGrid client:visible />
      <PopularServices client:visible />
      <LivshendelseListe client:load />
  </PageLayout>
</RootLayout>