---

import Layout from '@layouts/Layout.astro';
import {PageLayout, SearchBar, QuickLinks, ServiceGrid, PopularServices, MainHero} from '@packages/ui/components';
import styles from '@styles/pages/style.module.css';
---

<Layout title="Norge.no - Offentlige tjenester">
  <PageLayout client:load>
    <main class={styles.main}>
      <MainHero client:load />
        <div class={styles.searchSection}>
            <SearchBar client:load />
            <QuickLinks client:load />
        </div>
        <ServiceGrid client:visible />
        <PopularServices client:visible />
    </main>
  </PageLayout>
</Layout>