---
import { SearchBar, QuickLinks, ServiceCategoryGrid, PopularServices, MainHero} from '@packages/ui/components';
import { RootLayout, PageLayout } from '@packages/ui/layouts';
---

<RootLayout>
  <PageLayout client:load>
      <MainHero client:load />
        <div>
          <SearchBar client:load />
          <QuickLinks client:load />
        </div>
        <ServiceCategoryGrid client:visible />
        <PopularServices client:visible />
  </PageLayout>
</RootLayout>