name: Build and deploy Strapi to Azure Web App

on:
  push:
    branches:
      - main
    paths:
      - "apps/cms/**"
      - ".github/workflows/cms.yml"

env:
  PNPM_VERSION: 10

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_7B80AC2107AA43519DE93D47CF80C5F3 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_69B2E28679A1404FB69AB388E4541A6C }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_95B1DEE1EC7E4BA9A28BF4E05D9DDC69 }}

      - name: "Deploy to Azure Web App"
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v3
        with:
          app-name: "strapi-cms-test-app"
          slot-name: "Production"
          package: ./apps/cms
          clean: true
          startup-command: "corepack enable pnpm && corepack prepare pnpm@${{ env.PNPM_VERSION }} --activate && pnpm start"
